body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.stopwatch {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#startStopBtn {
    background-color: #28a745;
    color: #fff;
}

button#startStopBtn.stop {
    background-color: #dc3545;
}

button#resetBtn {
    background-color: #ffc107;
}
